.register-details {
    background-color: #ffffff;
    padding: 30px 16px 50px 16px;
    height: calc(100vh - 58px);
    overflow: auto;
    .register-form {
        display: grid;
        gap: 25px;
    }
}

.radioGroup {
  display: flex;
  gap: 16px;
  align-items: center;
}

.flex-class {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.errorText{
  color: #F93827;
}
