.pill {
    
    // padding: 3px 8px;
    border-radius: 2px;
    width: 42px;
    display: grid;
    place-items: center;
    height: 42px;
    h3{
        font-size: 18px;
        line-height: normal;
        font-weight: 600;
    }
    p {
        color: #777777;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }
}
.pillRed {
    background-color: #fff2f2;
    border: 1px solid #ffc1c1;
    h3 {
        color: #f31919;
       
    }
}

.pillOrange {
    background-color: #fff7f2;
    border: 1px solid #ffd1b7;
    h3 {
        color: #ff7c32;
    }
}

.pillGreen {
    background-color: #e2ffe9;
    border: 1px solid #8fffa8;
    h3 {
        color: #01a726;
    }
}
