.navigateLink {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    line-height: 17px;
    color: #194a8a;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    margin-left: auto;
    justify-content: flex-start;
    white-space: nowrap;
    padding-top: 10px;
}
