.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.modal {
  background: #ffffff;
  padding: 20px 16px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  max-width: 500px;
  animation: slideIn 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 20px;
  bottom: 0px;
  overflow-y: auto;
  max-height: 500px;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    font-weight: 700;
    padding-bottom: 5px;
  }

  p {
    color: #a1a1a1;
    font-size: 12px;
    line-height: 15px;
  }
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
}

.modalContent {
  // padding: 20px 0;
  flex-grow: 1;
}

.modalFooter {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

// .modelSecond {
//   left: 0;
//   right: 0;
//   margin: auto;
//   // overflow-y: visible;
// }