.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block !important;
}
.react-datepicker__month-container {
  font-family: var(--font-inter), sans-serif;
}
.react-datepicker__day--outside-month {
  opacity: 0.3;
  pointer-events: none;
}

