.customDatePickerContainer {
  position: relative;
  font-family: var(--font-inter), sans-serif;
  z-index: 1; // Prevents stacking above modals

  .DateIcon {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
  }

  &:focus-within .customDatePickerLabel,
  &.active .customDatePickerLabel {
    top: 6px;
    text-align: left;
    font-size: 12px;
    color: #777;
    transition: all 0.3s ease;
  }

  &:focus-within .customDatePickerInput {
    border-color: #194a8a;
  }
}

.customDatePickerInput {
  padding: 18px 12px;
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  text-align: left;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 57px;
  cursor: pointer;
  z-index: 0;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border-color: #194a8a;
  }
}

.customDatePickerLabel {
  position: absolute;
  top: 18px;
  left: 12px;
  font-size: 16px;
  color: #777;
  pointer-events: none;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
  z-index: 1; // Only above input, not above modal
}

.react-datepicker__input-container {
  font-size: 16px;
}

.errorText {
  color: #f93827;
  font-size: 13px;
  margin-top: 4px;
}
