
.input_search{
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    .searchicon {
        position: absolute;
        left: 8px;
        max-width: 100%;
    }
    .input{
        width:500px;
        height: 48px;
        padding: 0 12px;
        padding-left: 40px;
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        outline: none;
        background-color: #fff;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        transition: 0.3s ease;
        &::placeholder {        
                color: #777777;    
        }
       @media (max-width:767.98px) {
        width: 100%;
       }
    }
  }