.header {
  background-color: #194a8a;
  color: white;
  height: 56px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0 15px;
  position: relative;

  .leftSection {
    display: flex;
    align-items: center;

    .iconGroup {
      display: flex;
      align-items: center;
      gap: 10px;

      h1 {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.78px;
        white-space: nowrap;
        margin: 0;
      }
    }
  }

  .footerSection {
    display: flex;
    align-items: center;
    justify-content: flex-end; // default: right on mobile

    @media (min-width: 768px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 75%;
      justify-content: center;
    }
  }
}
