.footer {
  padding: 0px 15px;  
  height: 58px;
 
  @media (max-width:767.98px) {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #efefef;
    z-index: 1;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 25px;
 
    a {
      text-decoration: none;
      font-size: 12px;
      line-height: 15px;
      color: #194a8a;
      font-weight: 500;
      padding: 7px 15px;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: all 0.3s ease-in-out;
      position: relative;
      span{
        opacity: 0;
        transition: all 0.3s ease-in-out;

      }
      @media (max-width:767.98px) {
        gap: 5px;
      }
      img{
        

        filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(107%) contrast(100%);
        @media (max-width:767.98px) {
         filter: invert(47%) sepia(16%) saturate(18%) hue-rotate(336deg) brightness(95%) contrast(94%);
        
       }
      }
      &:hover {
        // background-color: #d0e5ff;
        // img{
        //   filter: invert(16%) sepia(50%) saturate(3471%) hue-rotate(205deg)
        //   brightness(98%) contrast(83%);
        // }
      }
      &.active {
        animation: fadeIn 0.8s ease-in-out;
        background-color: #d0e5ff;
        img {
          animation: slide-left 0.4s ease-in-out;
          filter: invert(16%) sepia(50%) saturate(3471%) hue-rotate(205deg)
            brightness(98%) contrast(83%);
        }
        span{
          opacity: 1;
          animation: slide-down 0.4s ease-in-out;
        animation-timing-function : ease-in-out;
        }
      }
      span{
        display: flex;
        gap: 7px;
        align-items: center;
      }
    }
  }
}

@keyframes slide-down {
  0%{
    opacity: 0;
    position: relative;
    transform: translateX(10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-left {
  0%{
    opacity: 0;
    position: relative;
    transform: translateX(-10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
    visibility: hidden;
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}